body {
    font-family: Conthrax;
    src: url('../font/conthrax-sb.otf') format('otf');
    background-color: #212529;
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #151F48;
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
main{
    font-family: Conthrax;
    src: url('../font/conthrax-sb.otf') format('otf');
    background-color: #212529;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 100px auto 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header-content {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    align-items: center;
}
.logo {
    height: auto;
    width: 120px;
}
/* Painel após cadastrado */
.header-content-solo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.menu-links a {
    font-family: Conthrax;
    color: #E8F3FF;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}
.menu-links a:hover {
    color: #ccc;
}
.container-painel{
    font-family: Conthrax;
    margin: 10px;
    padding: 20px;
    max-width: 600px;
}
ul{
list-style: none;
padding: 0px;
}
li{
    margin-bottom: 10px;
}
input[type="checkbox"] {
    margin-right: 8px;
}
.container-painel h1{
    font-size: 24px;
    margin-bottom: 20px;
}